extends layout

block content
    h1 New Poll
    p Make a poll using the form below
    ul.errors
        if errors
            each error, i in errors
                li.alert.alert-danger.list-unstyled #{error.msg}
    form(method="post", action="/polls/create", enctype="multipart/form-data", id="createpoll")
        .form-group
            label Poll Question
            input.form-control(name="question", type="text", placeholder="Write a question here")
        .form-group
            label Option 1
            input.form-control(name="options", type="text", placeholder="First Option")
        .form-group
            label Option 2
            input.form-control(name="options", type="text", placeholder="Second Option")
        input.btn.btn-default(type="button", id="newoption", value="Add Another Option")
        input.btn.btn-primary(name="submit", type="submit", value="Create Poll", id="indexbtn")
