extends layout

block content
  .jumbotron
    .container
      h1 Your Voice Is Heard!
      p
        | Think about it for a second. When tough decisions and serious conflicts arise, people always put it to a vote. Quickly create polls and let the voice of the people be heard.
      p
        a.btn.btn-primary.btn-lg(href="/users/register", role="button") Sign Up Now &#187;
        a.btn.btn-default.btn-lg(href="/polls/allpolls", role="button", id="indexbtn") Cast Vote &#187;
  .container
    .row
      .col-md-4
        h2 Share
        p
          | You can share your polls with friends and foes with lightning speed and finally settle those bitter disputes. They don't need to register.
      .col-md-4
        h2 Create
        p
          | Make unlimited polls with an unlimited number of options. Instantly see the results in a beautiful bar chart.
      .col-md-4
        h2 Manage
        p
          | Easily add more voting options to existing polls. And once the dust has clear and the people have spoken, delete the polls you no longer need.
    hr
    footer
      p &#169; 2015 Stephen Mayeux
