doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="Node.js Voting App", content="")
    meta(name="Stephen Mayeux", content="")
    title Stephen's Full Stack Voting App
    // Bootstrap core CSS and custom styles
    link(href="/stylesheets/bootstrap.css", rel="stylesheet")
    link(href="/stylesheets/style.css", rel="stylesheet")
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") Stephen's Voting App!
        #navbar.navbar-collapse.collapse
          form.navbar-form.navbar-right(method='post', action='/', enctype='multipart/form-data')
            if !user
              .form-group
                input.form-control(name="username", type="text", placeholder="Username")
              .form-group
                input.form-control(name="password", type="password", placeholder="Password")
              button.btn.btn-success(name="submit", type="submit", id="layoutsigninbtn") Sign in
            else
              a(href="/users/logout" class="btn btn-success" role="button") Logout
          ul.nav.navbar-nav
            if !user
              li
                a(href="/polls/allpolls") View Polls
            else
              li
                a(href="/polls/create") Create Poll
              li
                a(href="/polls/mypolls") My Polls
              li
                a(href="/polls/allpolls") View Polls
    div
      !=messages()
      block content
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='/javascripts/addoptions.js')
  script(src='/javascripts/bootstrap.js')
  script(src="/javascripts/display_chart.js")
  script(src="/javascripts/Chart.js")
