extends layout

block content
  .container
    h1 My Polls
    p.lead View and delete your polls.
    hr
    each result, i in results
      .row
        .col-xs-4
          p
            a(href="/polls/show/#{result._id}") #{result.question}
        .col-xs-4
          a.btn.btn-danger.btn-sm(href="/polls/delete/#{result._id}", role="button") Delete
