/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: arial;
}

a {
  color: #00B7FF;
}

.success li, .info li, .error li {
  margin: 20px 0px 20px 20px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  list-style: none;
}

.success li {
  color: #3c763d;
  background: #dff0d8;
  border-color: #d6e9c6;
}

.info li {
  color: #31708f;
  background: #d9edf7;
  border-color: #bce8f1;
}

.error li {
  color: #3c763d;
  background: #dff0d8;
  border-color: #d6e9c6;
}

.form-group {
  padding: 2px;
}

#layoutsigninbtn {
  margin-left: 2px;
}
